@model List<Accidente>

@{
    ViewData["Title"] = "Inicio";
}

@if (TempData["Success"] != null) {
    <div class="alert-validation" id="validation">
        <label class="alert-validation-success">@TempData["Success"]</label>       
    </div>
}

@if (TempData["Failed"] != null)
{
    <div class="alert-validation" id="validation">
        <label class="alert-validation-failed">@TempData["Failed"]</label>
    </div>
}

<div class="home-container">
    <input type="checkbox" id="open-left-panel" />
    <div id="dk-1" class="darkdiv" onclick="CloseMenu()"></div>
    <label for="open-left-panel" class="btn-left-panel">
        <i class="bi bi-list menu-button-home" id="sidemenu-button" onclick="moveBtn()"></i>
    </label>

    <div id="tabs-container" class="left-panel">
        <ul class="tabs-list">
            <li class="tab" onclick="filtrar(0)"><i class="bi bi-columns-gap"></i></li>
            <li class="tab" onclick="filtrar(1)"><i class="bi bi-car-front-fill"></i></li>
            <li class="tab" onclick="filtrar(2)"><i class="bi bi-fire"></i></li>
            <li class="tab" onclick="filtrar(3)"><i class="bi bi-stoplights"></i></li>
        </ul>

        <div class="tab-content">
            <span id="span">Actualmente no hay alertas</span>
            @foreach (var accident in Model)
            {
                <div class="tab-item tab-item-@accident.CategoriaId"
                    onclick="travelTo(@accident.Latitud, @accident.Longitud)">
                    <h5>@accident.Categoria.Nombre</h5>
                    <p>@accident.Descripcion</p>
                    <label>@accident.Latitud, @accident.Longitud</label>
                </div>
            }
        </div>
    </div>

    <div id="map" class="map" style="background-color: #f2efe9"></div>
</div>

<div id="nuevaAlerta" onclick="alertaPopup()">
    <i class="bi bi-pencil-square"></i>
</div>

<div id="alert-container" class="data-container">
    <h3>Enviar alerta</h3>
    <form asp-action="Index" method="post">
        <input name="usuarioId" type="hidden" value="@User?.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier)?.Value" />
            
        <label class="coor-label">Haz clic sobre el mapa donde haya ocurrido el accidente</label>
        <input id="latitud" name="latitud" type="hidden"/>
        <input id="longitud" name="longitud" type="hidden"/>
            
        <label class="label-title">Selecciona el tipo de accidente</label>
        <select name="categoriaId" class="row-select">
            <option value="1">Accidente de tráfico</option>
            <option value="2">Incendio</option>
            <option value="3">Semáforo defectuoso</option>
        </select>
            
        <label class="label-title">Descripción del accidente o percance:</label>
        <textarea placeholder="Escribe aquí..." id="text-a" class="row-value-area text-area" required name="descripcion"></textarea>
        <div class="btn-container-form">
            <button type="submit" class="common-btn">Enviar</button>
        </div>
    </form>
</div>

<script>
    function alertaPopup() {
        var alerta = document.getElementById("alert-container");
        alerta.classList.toggle('active');
        document.getElementById("latitud").innerHTML = "";
        document.getElementById("longitud").innerHTML = "";
        document.getElementById("text-a").value = "";
        removeMarker();
    }
    var now = @Json.Serialize(DateTime.UtcNow.AddHours(-6));
    now = new Date(now.slice(0, -1));
    var model = @Html.Raw(Json.Serialize(@Model));

    var clicked = 0;

    function CloseMenu() {
        document.getElementById("open-left-panel").checked = false;
        document.getElementById("sidemenu-button").style.left = "0px";
        clicked = 0;
    }
    
    function moveBtn() {
        if (clicked == 0) {
            document.getElementById("sidemenu-button").style.left = "285px";
            clicked = 1;
        }
        else {
            document.getElementById("sidemenu-button").style.left = "0px";
            clicked = 0;
        }
    }
</script>
<script src="~/js/map.js"></script>