@model PreventApp.Models.Accidente

@{
    ViewData["Title"] = "Detalles";
    Layout = "_DashboardLayout";
}

<div class="dashboard-container">
    <h1 class="main-title">Accidente</h1>
    <h5 class="subtitle">Detalles del accidente, categoría y origen/usuario</h5>

    <div class="data-container">
        <h3>Información del Accidente</h3>
        <div class="row-data row-details">
            <label class="row-title">Id</label>
            <label class="row-value">@Model.Id</label>
        </div>
        <div class="row-data row-details">
            <label class="row-title">Fecha</label>
            <label class="row-value">@Model.Fecha</label>
        </div>
        <div class="row-data row-details">
            <label class="row-title">Descripción</label>
            <label class="row-value">@Model.Descripcion</label>
        </div>
        <div class="row-data row-details">
            <label class="row-title">Latitud</label>
            <label class="row-value">@Model.Latitud</label>
        </div>
        <div class="row-data row-details">
            <label class="row-title">Longitud</label>
            <label class="row-value">@Model.Longitud</label>
        </div>
        <div class="row-data row-details">
            <label class="row-title">Estado</label>
            @if (Model.Estado == false)
            {
                <label class="row-value">Pendiente</label>
            }
            else
            {
                <label class="row-value">Publicado</label>
            }
        </div>
    </div>

    <div class="data-container">
        <h3>Categoría</h3>
        <div class="row-single-value">
            <label>@Model.Categoria.Nombre</label>
        </div>
    </div>

    <div class="data-container">
        @if (Model.Usuario is not null)
        {
            <h3>Usuario</h3>
            <div class="row-data row-details">
                <label class="row-title">Id</label>
                <label class="row-value">@Model.Usuario.Id</label>
            </div>
            <div class="row-data row-details">
                <label class="row-title">Email</label>
                <label class="row-value">@Model.Usuario.Email</label>
            </div>
        }
        else
        {
            if(Model.UsuarioId is not null)
            {
                <h3>Usuario</h3>
                <div class="row-single-value">
                    <label>Usuario eliminado</label>
                </div>
            } 
            else
            {
                <h3>Origen</h3>
                <div class="row-single-value">
                    <label>Obtenido de Facebook</label>
                </div>
            }
        }
    </div>

    <div class="btn-container">
        <a class="common-btn" asp-action="EditAccident" asp-route-id="@Model.Id">Editar</a>
        <button class="common-btn" onclick="history.back()">Regresar</button>
    </div>
</div>