@using PreventApp.Services;
@model Paginacion<Accidente>

@{
    ViewData["Title"] = "Accidentes";
    Layout = "_DashboardLayout";
}

@if (TempData["Success"] != null)
{
    <div class="alert-validation" id="validation">
        <label class="alert-validation-success">@TempData["Success"]</label>
    </div>
}

<div class="dashboard-container">
    
    <div class="title-container">
        <h1 style="color: #b7c0ca; font-weight:bold">Accidentes</h1>
        <div class="filtro">@ViewData["filtro"]</div>
    </div>
    <div class="add-btn-container">
        <a asp-action="CreateAccident" class="add-btn"><i class="bi bi-plus-lg"></i></a>
    </div>

    @if(Model.Count() == 0)
    {
        if (@ViewData["filtro"]?.ToString() == "trafico")
        {
            <h4 class="no-content-h4">Vaya, aún no hay accidentes de tráfico</h4>
        }
        else if (@ViewData["filtro"]?.ToString() == "todos")
        {
            <h4 class="no-content-h4">Vaya, aún no hay accidentes</h4>
        }
        else if (@ViewData["filtro"]?.ToString() == "semaforos")
        {
            <h4 class="no-content-h4">Vaya, aún no hay semáforos defectuosos</h4>
        }
        else
        {
            <h4 class="no-content-h4">Vaya, aún no hay @ViewData["filtro"]</h4>
        }
    }

    @foreach (var item in Model)
    {
        <div class="item-container">
            <div onclick="GoToDetails(@item.Id)" style="height: 100%">
                <div class="item-head">
                    <div class="left-head">
                        @if(item.Estado == false)
                        {
                            <div class="status Pendiente">Pendiente</div>
                        }
                        else
                        {
                            <div class="status Completo">Publicado</div>
                        }
                        <div>
                            <h6 class="fecha">@item.Fecha</h6>
                            @{
                                var cat = "";
                                if (item.Categoria.Nombre == "Accidente de tráfico")
                                {
                                    cat = "Trafico";
                                }
                                else if (item.Categoria.Nombre == "Semáforo")
                                {
                                    cat = "Semaforo";
                                }
                                else
                                {
                                    cat = item.Categoria.Nombre;
                                } 
                            }
                            <h3 class="categoria @cat">@item.Categoria.Nombre</h3>
                        </div>
                    </div>
                </div>
                <div class="item-body">
                    <p class="item-content">@item.Descripcion</p>
                </div>
            </div>
            <div class="actions">
                <a class="actions-button" asp-action="EditAccident" asp-route-id="@item.Id">
                    <i class="bi bi-pencil"></i>
                </a>
                <div class="actions-button" onclick="ShowForm(@item.Id)">
                    <i class="bi bi-trash3"></i>
                </div>
            </div>
        </div>
    }

    @{
        var prevDisabled = !Model.PaginasAnteriores ? "visually-hidden" : "";
        var nextDisabled = !Model.PaginasSiguientes ? "visually-hidden" : "";
    }

    <div class="paginacion">
        <a asp-action="Accidentes" asp-route-filtro="@ViewData["filtro"]" asp-route-numpag="1" class="btn @prevDisabled">
            <i class="bi bi-chevron-double-left"></i>
        </a>
        <a asp-action="Accidentes" asp-route-filtro="@ViewData["filtro"]" asp-route-numpag="@(Model.PaginaActual-1)" class="btn @prevDisabled">
            <i class="bi bi-chevron-left"></i>
        </a>
        @if (Model.PaginasTotales > 1)
        {    
            for (var i = Model.Inicio; i <= Model.Final; i++)
            {
                var paginaActiva = (i == Model.PaginaActual) ? "active" : "";
                <a asp-action="Accidentes" asp-route-filtro="@ViewData["filtro"]" asp-route-numpag="@i" class="btn @paginaActiva">@i</a>
            }
        }
        <a asp-action="Accidentes" asp-route-filtro="@ViewData["filtro"]" asp-route-numpag="@(Model.PaginaActual+1)" class="btn @nextDisabled">
            <i class="bi bi-chevron-right"></i>
        </a>
        <a asp-action="Accidentes" asp-route-filtro="@ViewData["filtro"]" asp-route-numpag="@Model.PaginasTotales" class="btn @nextDisabled">
            <i class="bi bi-chevron-double-right"></i>
        </a>
    </div>
</div>

<div id="dk-2" class="darkdiv remove-item" onclick="CloseForm()">
    <form asp-action="DeleteAccident" class="data-container">
        <h5 class="subtitle">¿Realmente deseas eliminar este registro?</h5>
        <input type="hidden" name="id" id="input" />
        <div class="container-buttons">
            <button class="common-btn" type="submit">Eliminar</button>
            <div class="btn common-btn" onclick="CloseForm()">Cancelar</div>
        </div>
    </form>
</div>

<script>
    function GoToDetails(id) {
        window.location.href = '@Url.Action("AccidentDetails", "Dashboard")/' + id;
    }

    function ShowForm(id) {
        document.getElementById("dk-2").style.visibility = "visible";
        document.getElementById("input").value = id;
    }

    function CloseForm() {
        document.getElementById("dk-2").style.visibility = "hidden";
    }
</script>