@using PreventApp.DTOs
@model CreateUserDTO

@{
    ViewData["Title"] = "Crear usuario";
    Layout = "_DashboardLayout";
}

<div class="dashboard-container">
    <h1 class="main-title">Cuenta</h1>
    <h5 class="subtitle">Crear una nueva cuenta</h5>

    <form asp-action="CreateUser" method="post" class="transparent-form">

        <div class="data-container">
            <h3>Información de la cuenta</h3>
            <div class="row-data">
                <label class="row-title">Nombre</label>
                <input class="row-value" asp-for="@Model.Nombre" />
            </div>
            <div class="row-data">
                <label class="row-title">Email</label>
                <input class="row-value" type="email" asp-for="@Model.Email" autocomplete="off" required />
            </div>
            <div class="row-data">
                <label class="row-title">Telefono</label>
                <input class="row-value" asp-for="@Model.Telefono" />
            </div>
            <div class="row-data">
                <label class="row-title">Contraseña</label>
                <input class="row-value" asp-for="@Model.Contraseña" autocomplete="new-password" required/>
            </div>
            <div class="row-data">
                <label class="row-title">Confirmar contraseña</label>
                <input class="row-value" asp-for="@Model.ConfirmarContraseña" required/>
            </div>
            <span class="span span-validation" asp-validation-for="Telefono"></span>
            <span class="span span-validation" asp-validation-for="Contraseña"></span>
            <span class="span span-validation" asp-validation-for="ConfirmarContraseña"></span>
            <span class="span span-validation">@ViewData["EmailError"]</span>
        </div>

        <div class="data-container">
            <h3>Rol</h3>
            <div class="row-single-value">
                <select class="row-select" asp-for="@Model.RolId">
                    <option value="1">Usuario</option>
                    <option value="2">Institución</option>
                    <option value="3">Administrador</option>
                </select>
            </div>
        </div>

        <div id="btn-container">
            <button class="common-btn" type="submit">Guardar</button>
            <a class="common-btn" asp-action="Users" asp-route-filtro="todos">Cancelar</a>
        </div>
    </form>
</div>