@using PreventApp.DTOs
@model UserDashboardDTO

@{
    ViewData["Title"] = "Editar usuario";
    Layout = "_DashboardLayout";
}

@if (TempData["Success"] != null)
{
    <div class="alert-validation" id="validation">
        <label class="alert-validation-success">@TempData["Success"]</label>
    </div>
}

<div class="dashboard-container">
    <h1 class="main-title">Cuenta</h1>
    <h5 class="subtitle">Editar los datos de la cuenta</h5>

    <form asp-action="EditUser" method="post" class="transparent-form">

        <div class="data-container">
            <h3>Información de la cuenta</h3>
            <div class="row-data">
                <label class="row-title">Nombre</label>
                <input class="row-value" asp-for="@Model.Nombre" />
            </div>
            <div class="row-data">
                <label class="row-title">Email</label>
                <input class="row-value" type="email" asp-for="@Model.Email" required />
            </div>
            <div class="row-data">
                <label class="row-title">Telefono</label>
                <input class="row-value" asp-for="@Model.Telefono" />
            </div>
            <span class="span span-validation" asp-validation-for="Telefono"></span>
            <span class="span span-validation">@ViewData["EmailError"]</span>
        </div>

        <div class="data-container">
            <h3>Rol</h3>
            <div class="row-single-value">
                <select class="row-select" asp-for="@Model.RolId">
                    <option value="1">Usuario</option>
                    <option value="3">Administrador</option>
                </select>
            </div>
        </div>

        <div class="data-container pass">
            <h3>Contraseña</h3>
            <a class="row-pass" asp-action="ChangePassword" asp-route-id="@Model.Id">
                ••••••••
                <i class="bi bi-chevron-right"></i>
            </a>
        </div>

        <div id="btn-container">
            <button class="common-btn" type="submit">Guardar</button>
            <a class="common-btn" asp-action="Users" asp-route-filtro="todos">Cancelar</a>
        </div>
    </form>
</div>