@using PreventApp.DTOs
@model AccidenteDTO

@{
    ViewData["Title"] = "Editar";
    Layout = "_DashboardLayout";
}

@if (ViewData["Invalido"] != null)
{
    <div class="alert-validation" id="validation">
        <label class="alert-validation-failed">@ViewData["Invalido"]</label>
    </div>
}

<div class="dashboard-container">
    <h1 class="main-title">Accidente</h1>
    <h5 class="subtitle">Editar los datos del accidente</h5>

    <form asp-action="EditAccident" method="post" class="transparent-form">
        <div class="data-container">
            <h3>Información del accidente</h3>
            
            <input asp-for="@Model.Fecha" type="hidden" />
            <input asp-for="@Model.UsuarioId" type="hidden" />

            <div class="row-single-data row-s-v-space">
                <label class="row-title">Descripción</label>
                <textarea class="row-value-area" asp-for="@Model.Descripcion" required></textarea>
            </div>
        </div>

        <div class="data-container">
            <h3>Localización</h3>
            <label class="map-description">Haz clic en el mapa para señalar la ubicación</label>
            <div id="map" class="map-dashboard"></div>
            <input id="latitud" asp-for="@Model.Latitud" type="hidden"/>
            <input id="longitud" asp-for="@Model.Longitud" type="hidden"/>
        </div>
        
        <div class="data-container">
            <h3>Categoría</h3>
            <div class="row-single-value">
                <select class="row-select" asp-for="@Model.CategoriaId">
                    <option value="1">Accidente de tráfico</option>
                    <option value="2">Incendio</option>
                    <option value="3">Semáforo defectuoso</option>
                </select>
            </div>
        </div>

        <div class="data-container">
            <h3>Estado</h3>
            <div class="row-single-value">
                <select class="row-select" asp-for="@Model.Estado">
                    <option value="false">Pendiente</option>
                    <option value="true">Publicado</option>
                </select>
            </div>
        </div>

        <div class="btn-container">
            <button class="common-btn" type="submit">Guardar</button>
            <a class="common-btn" asp-action="Accidentes" asp-route-filtro="todos">Cancelar</a>
        </div>
    </form>
</div>

<script>
    var mapOptions = {
        center: [20.6704414652116030, -103.3401489257812500],
        zoom: 12,
        minZoom: 12,
        zoomControl: false,
        maxBounds: [
            //Suroeste
            [20.334647543695734, -103.00506591796875],
            //Noreste
            [20.90500300215911, -103.74320983886719]
        ]
    }

    var map = L.map('map', mapOptions);
    L.control.zoom({ position: "bottomright" }).addTo(map);

    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);

    var latitud = document.getElementById("latitud").value;
    var longitud = document.getElementById("longitud").value;
    var Marker;
    var onMap = 0;

    if (latitud != "" && longitud != "") {
        Marker = new L.marker([latitud, longitud], { draggable: true }).addTo(map);
        onMap = 1;
        map.setView([latitud, longitud], 12);
    }

    map.on('click', function (e) {
        document.getElementById("latitud").value = e.latlng.lat;
        document.getElementById("longitud").value = e.latlng.lng;

        if (onMap == 1) {
            Marker.setLatLng(e.latlng);
        }
        else {
            Marker = new L.marker(e.latlng, { draggable: true }).addTo(map);
            onMap = 1;
        }

        Marker.on("dragend", function (e) {
            var latLng = e.target.getLatLng();
            document.getElementById("latitud").value = latLng.lat;
            document.getElementById("longitud").value = latLng.lng;
        });
    });
</script>