@model PreventApp.Models.Usuario

@{
    ViewData["Title"] = "Detalles";
    Layout = "_DashboardLayout";
}

<div class="dashboard-container">
    <h1 class="main-title">Cuenta</h1>
    <h5 class="subtitle">Detalles del usuario y rol de la cuenta</h5>

    <div class="data-container">
        <h3>Información de la cuenta</h3>
        <div class="row-data row-details">
            <label class="row-title">Id</label>
            <label class="row-value">@Model.Id</label>
        </div>
        <div class="row-data row-details">
            <label class="row-title">Nombre</label>
            <label class="row-value">@Model.Nombre</label>
        </div>
        <div class="row-data row-details">
            <label class="row-title">Email</label>
            <label class="row-value">@Model.Email</label>
        </div>
        <div class="row-data row-details">
            <label class="row-title">Telefono</label>
            <label class="row-value">@Model.Telefono</label>
        </div>
    </div>

    <div class="data-container">
        <h3>Rol</h3>
        <div class="row-single-value">
            <label>@Model.Rol.Nombre</label>
        </div>
    </div>

    <div class="btn-container">
        <a class="common-btn" asp-action="EditUser" asp-route-id="@Model.Id">Editar</a>
        <button class="common-btn" onclick="history.back()">Regresar</button>
    </div>
</div>
