@using PreventApp.Services;
@model Paginacion<Usuario>

@{
    ViewData["Title"] = "Usuarios";
    Layout = "_DashboardLayout";
}

@if (TempData["Success"] != null)
{
    <div class="alert-validation" id="validation">
        <label class="alert-validation-success">@TempData["Success"]</label>
    </div>
}

<div class="dashboard-container">

    <div class="title-container">
        <h1 style="color: #b7c0ca; font-weight:bold">Cuentas</h1>
        <div class="filtro">@ViewData["filtro"]</div>
    </div>
    <div class="add-btn-container">
        <a asp-action="CreateUser" class="add-btn"><i class="bi bi-plus-lg"></i></a>
    </div>
    
    @if (Model.Count() == 0)
    {
        <h4 class="no-content-h4">Vaya, aún no hay @ViewData["filtro"] :(</h4>
    }

    @foreach (var item in Model)
    {
        <div class="item-container">
            <div onclick="GoToDetails(@item.Id)" style="height: 100%">
                <div class="item-head">
                    <div class="left-head">
                        <div class="id-user">#@item.Id</div>
                        <div>
                            @if (item.Nombre is not null)
                            {
                                <h6 class="fecha">@item.Nombre</h6>
                            }
                            <h3 class="categoria">@item.Rol.Nombre</h3>
                        </div>
                    </div>
                </div>
                <div class="item-body">
                    <p class="item-content">@item.Email</p>
                </div>
            </div>
            <div class="actions">
                <a class="actions-button" asp-action="EditUser" asp-route-id="@item.Id">
                    <i class="bi bi-pencil"></i>
                </a>
                <div class="actions-button" onclick="ShowForm(@item.Id)">
                    <i class="bi bi-trash3"></i>
                </div>
            </div>
        </div>
    }

    @{
        var prevDisabled = !Model.PaginasAnteriores ? "visually-hidden" : "";
        var nextDisabled = !Model.PaginasSiguientes ? "visually-hidden" : "";
    }

    <div class="paginacion">
        <a asp-action="Users" asp-route-filtro="@ViewData["filtro"]" asp-route-numpag="1" class="btn @prevDisabled">
            <i class="bi bi-chevron-double-left"></i>
        </a>
        <a asp-action="Users" asp-route-filtro="@ViewData["filtro"]" asp-route-numpag="@(Model.PaginaActual-1)" class="btn @prevDisabled">
            <i class="bi bi-chevron-left"></i>
        </a>
        @if (Model.PaginasTotales > 1)
        {    
            @for (var i = Model.Inicio; i <= Model.Final; i++)
            {
                var paginaActiva = (i == Model.PaginaActual) ? "active" : "";
                <a asp-action="Users" asp-route-filtro="@ViewData["filtro"]" asp-route-numpag="@i" class="btn @paginaActiva">@i</a>
            }
        }
        <a asp-action="Users" asp-route-filtro="@ViewData["filtro"]" asp-route-numpag="@(Model.PaginaActual+1)" class="btn @nextDisabled">
            <i class="bi bi-chevron-right"></i>
        </a>
        <a asp-action="Users" asp-route-filtro="@ViewData["filtro"]" asp-route-numpag="@Model.PaginasTotales" class="btn @nextDisabled">
            <i class="bi bi-chevron-double-right"></i>
        </a>
    </div>
</div>

<div id="dk-2" class="darkdiv remove-item" onclick="CloseForm()">
    <form asp-action="DeleteUser" class="data-container">
        <h5 class="subtitle">¿Realmente deseas eliminar este registro?</h5>
        <input type="hidden" name="id" id="input" />
        <div class="container-buttons">
            <button class="common-btn" type="submit">Eliminar</button>
            <div class="btn common-btn" onclick="CloseForm()">Cancelar</div>
        </div>
    </form>
</div>

<script>
    function GoToDetails(id) {
        window.location.href = '@Url.Action("UserDetails", "Dashboard")/' + id;
    }

    function ShowForm(id) {
        document.getElementById("dk-2").style.visibility = "visible";
        document.getElementById("input").value = id;
    }

    function CloseForm() {
        document.getElementById("dk-2").style.visibility = "hidden";
    }
</script>